assignment-3/data/*
*.gz
assignment-3/*.pth
assignment-3/*.txt
assignment-3/embeddings/*
assignment-3/models/*
*/submission/*
assignment-4/embeddings/*
assignment-4/models/*
assignment-4/*.pth
assignment-4/data/*.*
assignment-4/data/*